<div class='panel-heading'>
  <div class='search'>
    {{input type='text' placeholder='Search by Author Name' value=this.search}}
  </div>

  <LinkTo @route="author.create" class="btn-new">
    <div class="sr-only">Add new Author</div>
  </LinkTo>
</div>

<div class='panel-content'>
  <h3 class='panel-title'>Authors</h3>

  {{#if this.isLoading}}
    <p>Authors is loading</p>
  {{else}}
    <ul class='collection'>
      {{#each this.model as |author|}}
        <li>
          <LinkTo @route="author.detail" @model="{{author.id}}">
            <strong>{{ author.firstName }}</strong>, {{ author.lastName }}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

{{outlet}}
